
/*
      www.OnlineWebFonts.Com
      You must credit the author Copy this link on your web
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {
  font-family: "OpenDyslexic";
  src: url("https://sufiyanyasa.com/css/opendyslexic/opendyslexic.woff2") format("woff2");
}

/*root*/
*{
  font-family: OpenDyslexic;
}

body{
  background-color: rgba(57, 57, 57, 0.4);
  background-image: url(stars.gif);
  background-repeat: round;
  margin: 15%;
  margin-top: 3%;
}

/*links*/
a{
   color:black;
}

.minor-section {
  margin-left: .3rem;
  margin-right: .3rem;
  padding: 3%;
  margin-bottom: 10px;
  border: solid 3px #000;
  background-color: #bebdbdc7;
  text-indent: 2%;
  align-self: center;
  align-content: center;
  align-items: center;
  margin: auto;

}

.sub-section{
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #8c8c8c;
  background-color: #bebdbdc7;
  text-indent: 2%;
  min-width: fit-content;
  max-width: fit-content;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

section{
  align-self: center;
  align-items: center;
  align-content: center;
}

#output-container{
  display: inline;
  align-content: center;
}



footer{
  background-color: #bebdbdc7;
  display: flex;
  justify-content: space-between;
}


@keyframes bounce {
   0%, 100% {
    transform: translateY(-4%) scaleY(1.001);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  49%{
    transform: scaleY(1);
  }
  50% {
    transform: scaleX(1.015) scaleY(0.98);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  51%{
    transform: scaleX(0.98) scaleY(1.01)
  }
}
.profile-img {
  display: flexbox;
  padding: auto;
  margin-bottom: -100px;
  margin-left: 65%;
  margin-right: 0rem;
  filter: invert(80%);
  animation-name: "bounce";
  animation-iteration-count: infinite;
  animation-duration: .8s;
  mask-image: url(circle-mask.png);
  mask-position: top;
  mask-size: 200px;
  mask-repeat: no-repeat;
  mask-border-mode: multiply;
  mask-border-outset: -100px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 0;
}

.name-gif {
  display: flex;
  margin: auto;
  filter: grayscale(100%);
}

#nav-links{
  list-style-type: none;
  grid-template-columns: min-content;
}

#title-section{
  display: flex;
  justify-content: center;
  max-height: fit-content;
  margin-top: 1rem;
}

#hero-image{
  margin: auto;
  max-height: 20rem;;
}

#image-container{
  display: inline-flex;
  justify-content: center;
}

blockquote{
  font-size: small;
  box-shadow: 2px 2px 4px #000;
  font-style: normal;
  padding:  .3rem;
  border:solid 1px  #000;
  max-width: min-content;
  max-height: max-content;
  background-color: #bebdbdc7;
}

code-block-header{
  text-align: center;
  text-decoration: underline;
}

h3{
  text-indent: 2%;
}


