 #car-image{
    display: inline-block;
    max-block-size: 20rem;
    min-block-size: 0%;
    min-width: 0%;
    min-height: 0%;
 }

 .output{
    display: flex;
    min-width: fit-content;
 }

 blockquote{
    height: fit-content;
    min-width: fit-content;
 }


